@pallette-grid-columns:                       20;
@pallette-gutter-width:                       20px;

@pallette-popover-max-width:                  100%;
@pallette-popover-arrow-width:                @pallette-font-size-small;
@pallette-popover-border-radius:              @border-radius-large;
