@pallette-screen-phone-width:                 320px;    // Phone screen (iPhone 4)
@pallette-screen-small-width:                 768px;    // Small screen / Tablet
@pallette-screen-medium-width:                1000px;   // Medium screen / Desktop
@pallette-screen-large-width:                 1200px;   // Large screen / Wide desktop
