@import "type.less";
@import "screens.less";
@import "measurements.less";

@pallette-box-shadow-base:                    5px;
@pallette-box-shadow-tiny:                    2px;
@pallette-box-shadow-small:                   3px;
@pallette-box-shadow-large:                   10px;
@pallette-box-shadow-huge:                    20px;

@pallette-brand-base-color:                   #fff;
@pallette-brand-primary-color:                #167ac6;
@pallette-brand-secondary-color:              darken(@pallette-brand-primary-color, 20%);
@pallette-brand-accent-color:                 #ff8800;
@pallette-brand-success-color:                @pallette-brand-primary-color;
@pallette-brand-info-color:                   #66aa00;
@pallette-brand-warning-color:                #ff8800;
@pallette-brand-danger-color:                 #dd0000;

@pallette-body-bg-color:                      #f8f8f8;
@pallette-body-font-color:                    #333;
@pallette-body-link-color:                    @pallette-brand-secondary-color;
@pallette-body-separator-color:               darken(@pallette-body-bg-color,10%);

@pallette-link-color:                         @pallette-brand-primary-color;
@pallette-link-hover-color:                   #888;
@pallette-link-decoration:                    none;
@pallette-link-hover-decoration:              none;

@pallette-navbar-height:                      50px;
@pallette-navbar-bg-color:                    @pallette-brand-base-color;
@pallette-navbar-font-color:                  @pallette-body-font-color;
@pallette-navbar-link-color:                  @pallette-body-link-color;
@pallette-navbar-link-hover-color:            lighten(@pallette-navbar-link-color, 15%);
@pallette-navbar-link-hover-bg:               transparent;
@pallette-navbar-link-active-color:           #333;
@pallette-navbar-link-active-bg:              #fff;

@pallette-inverse-navbar-bg-color:            #555;
@pallette-inverse-navbar-font-color:          #fff;
@pallette-inverse-navbar-link-color:          #fff;
@pallette-inverse-navbar-link-hover-color:    lighten(@pallette-inverse-navbar-link-color, 15%);
@pallette-inverse-navbar-link-hover-bg:       transparent;
@pallette-inverse-navbar-link-active-color:   #fff;
@pallette-inverse-navbar-link-active-bg:      #333;

@pallette-table-bg-color:                     @pallette-brand-base-color;
@pallette-panel-bg-color:                     @pallette-brand-base-color;

@pallette-border-color:                       @pallette-body-separator-color;

@pallette-popover-border-color:               rgba(0,0,0,.05);
@pallette-popover-fallback-border-color:      #ddd;
@pallette-popover-title-bg:                   transparent;
